src/main/java/mypackage/AplicationWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SOAP/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SOAP/" name="AplicationWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://SOAP/" schemaLocation="http://localhost:7777/ws?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="crear_post">
<part name="parameters" element="tns:crear_post"></part>
</message>
<message name="crear_postResponse">
<part name="parameters" element="tns:crear_postResponse"></part>
</message>
<message name="getPosts">
<part name="parameters" element="tns:getPosts"></part>
</message>
<message name="getPostsResponse">
<part name="parameters" element="tns:getPostsResponse"></part>
</message>
<message name="getPostsByUsername">
<part name="parameters" element="tns:getPostsByUsername"></part>
</message>
<message name="getPostsByUsernameResponse">
<part name="parameters" element="tns:getPostsByUsernameResponse"></part>
</message>
<portType name="AplicationWebService">
<operation name="crear_post">
<input wsam:Action="http://SOAP/AplicationWebService/crear_postRequest" message="tns:crear_post"></input>
<output wsam:Action="http://SOAP/AplicationWebService/crear_postResponse" message="tns:crear_postResponse"></output>
</operation>
<operation name="getPosts">
<input wsam:Action="http://SOAP/AplicationWebService/getPostsRequest" message="tns:getPosts"></input>
<output wsam:Action="http://SOAP/AplicationWebService/getPostsResponse" message="tns:getPostsResponse"></output>
</operation>
<operation name="getPostsByUsername">
<input wsam:Action="http://SOAP/AplicationWebService/getPostsByUsernameRequest" message="tns:getPostsByUsername"></input>
<output wsam:Action="http://SOAP/AplicationWebService/getPostsByUsernameResponse" message="tns:getPostsByUsernameResponse"></output>
</operation>
</portType>
<binding name="AplicationWebServicePortBinding" type="tns:AplicationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="crear_post">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPosts">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPostsByUsername">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AplicationWebServiceService">
<port name="AplicationWebServicePort" binding="tns:AplicationWebServicePortBinding">
<soap:address location="http://localhost:7777/ws"></soap:address>
</port>
</service>
</definitions>